{#
/**
 * @file alert-bar.html.twig
 * Default theme implementation to present Alert Bar data.
 *
 * This template is used when viewing the Alert Bar.
 *
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - enabled: Whether the "show the alert" checkbox is checked.
 * - expires: The date the alert expires (if set).
 * - severity: The severity level of the alert (message, warning, critical).
 * - message: The message text of the alert.
 * - more_link_label: The label of the "more" link.
 * - more_link_url: The URL of the "more" link.
 * - more_link_external: Determines whether the more link should open in a new browser.
 * - alert_color_scheme: Select between "Default" or "Alternate" color schemes.
 * - additional_classes: Additional CSS classes provided in the alert's configuration.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass(severity).addClass(additional_classes).addClass(alert_color_scheme) }}>
    <a href="{{ url('<current>') }}" class="alert-bar-close">Close</a>

    {% if message %}
        {{ message }}
    {% endif %}

    {% if more_link_url %}
        <a href="{{ more_link_url }}"{{ (more_link_external) ? ' target="_blank"' }}>{{ (more_link_label) ?: "Learn More"|t }}</a>
    {% endif %}

</div>
